---
permalink: /data/artiklar-flode.json
eleventyExcludeFromCollections: true
---
[
{%- for artikel in collections.artiklar %}
  {
    "type": "artikel",
    "id": "{{ artikel.fileSlug }}",
    "datum": "{{ artikel.date.toISOString().slice(0, 10) }}",
    "kategori": "{{ artikel.data.kategori }}",
    "titel": "{{ artikel.data.rubrik }}",
    "teaser": "{{ artikel.data.beskrivning }}",
    "lank": "{{ artikel.url }}"
  }{%- if not loop.last %},{% endif %}
{%- endfor %}
]